:root {
  --primary-color: #ca9db9;
  --primary-dark-color: rgb(90 62 90);
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --primary-font: "Prosto One", sans-serif;
  --seconday-font: "Poiret One", sans-serif;
}
body {
  margin: 100px 0;
  background-color: var(--primary-dark-color) !important;
  color: var(--secondary-color) !important;
}
.container {
  margin-bottom: 70px;
}
a {
  font-family: var(--seconday-font);
  text-decoration: none !important;
  font-weight: 900;
}
.hero {
  background-color: var(--primary-color);
  color: var(--primary-dark-color);
  padding: 20px;
  margin-bottom: 20px;
  border-top: 5px solid rgb(90, 62, 90, 0.2);
  border-bottom: 5px solid rgb(90, 62, 90, 0.2);
}
.hero a {
  box-shadow: var(--box-shadow);
}
h1,
h2,
h3 {
  text-align: center;
  margin: 0;
  font-family: var(--primary-font);
}

h1 {
  font-size: 60px !important;
}

h2 {
  font-size: 30px !important;
}

h3 {
  font-size: 24px !important;
  opacity: 0.7;
}

p {
  background: var(--secondary-color);
  padding: 20px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  font-family: "Poiret One", sans-serif;
}

.navigation-links {
  display: flex;

  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.primary-link {
  display: block;
  margin: 0 auto;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
  padding: 20px 15px;
  border-radius: 4px;
  text-decoration: none;
  text-align: center;
  width: 200px;
}

.about-link {
  color: var(--primary-dark-color);
  border: 2px solid var(--primary-dark-color);
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.about-paragraphs {
  display: flex;
  margin: 30px 0;
}

.about-paragraphs p {
  margin: 10px;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}
p {
  background: none;
}
.email-link:hover {
  text-decoration: underline;
}

.home-photo {
  display: block;
  margin: 0 auto;
  width: 380px;
  margin-top: 20px;
}
@media (max-width: 765px) {
  .home-photo {
    display: none;
  }
  .project-link {
    display: block;
    text-align: center;
    margin: 0 auto;
  }
}
footer {
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
  max-width: 200px;
  text-decoration: none !important;
}
i {
  display: block;
  color: var(--secondary-color);
  font-size: 30px;
  opacity: 55%;
  padding: 15px;
}
i:hover {
  cursor: pointer;
  opacity: 80%;
}
